<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CoreCompat.Portable.Licensing" version="1.2.4" targetFramework="net471" />
  <package id="DelsysAPI" version="2.4.1" targetFramework="net471" />
  <package id="MathNet.Numerics" version="4.9.0" targetFramework="net471" />
  <package id="Plugin.BLE" version="2.1.1" targetFramework="net471" />
  <package id="Portable.BouncyCastle" version="1.8.5" targetFramework="net471" />
  <package id="Stateless" version="5.1.2" targetFramework="net471" requireReinstallation="true" />
  <package id="System.Diagnostics.Debug" version="4.3.0" targetFramework="net471" />
  <package id="System.IO.FileSystem" version="4.3.0" targetFramework="net471" />
  <package id="System.IO.FileSystem.Primitives" version="4.3.0" targetFramework="net471" />
  <package id="System.Net.Primitives" version="4.3.1" targetFramework="net471" />
  <package id="System.Resources.ResourceManager" version="4.3.0" targetFramework="net471" />
  <package id="System.Runtime" version="4.3.0" targetFramework="net471" />
  <package id="System.Runtime.Extensions" version="4.3.1" targetFramework="net471" />
  <package id="System.Runtime.InteropServices" version="4.3.0" targetFramework="net471" />
  <package id="System.Threading" version="4.3.0" targetFramework="net471" />
</packages>